<div id="main-layout">
  <div class="container">
    <app-header></app-header>
    <app-body></app-body>
    <app-footer id="app-footer"></app-footer>
  </div>
</div>

<!--<div id="main-layout">-->
<!--  <div class="container h-100100">-->
<!--    <mat-drawer-container class="h-100" [hasBackdrop]="true">-->
<!--      <mat-drawer #drawer class="" [mode]="'over'" opened="true">I'm a drawer</mat-drawer>-->
<!--      <mat-drawer-content>-->
<!--        <app-header></app-header>-->
<!--        <app-body></app-body>-->
<!--        <app-footer id="app-footer"></app-footer>-->
<!--      </mat-drawer-content>-->
<!--    </mat-drawer-container>-->
<!--  </div>-->
<!--</div>-->
