html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
footer,
header section,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* warning for image tag not have alt attribute */
img:not([alt]),
img[alt=""] {
  outline: 8px solid red;
}

span {
  font-variant-numeric: tabular-nums;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
