@font-face {
  font-family: "";
  font-style: normal;
  font-weight: 400;
  //src: url() format('truetype');
}
@font-face {
  font-family: "VLABELPRO-BOLD";
  font-style: normal;
  font-weight: 700;
  //src: url() format('truetype');
}
