@import "color";

// common
$fontPrimary: "Roboto";
$font-icon: "FontAwesome";
$font-size-body: 16px;
$font-weight-body: normal;
$font-weight-title: 700;
$body-color: #041c40;
$body-bg: rgb(243, 240, 237);
$font-size-title-desk: 24px;
$font-size-title-tablet: 16px;
$font-size-title-mobile: 14px;
$font-size-tablet: 14px;
$font-size-mobile: 12px;

$text-color-primary: #041c40;
$bg-primary: #e91f62;
$color-hover-primary: #e91f62;
$transition: all 0.25s ease-in-out;

$header-bg: $white;
$mat-drawer-bg: $white;
